* {
    outline: 2px solid red;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    background-color: #1F2937;

}

.sign-up-button {
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.sign-up-button:hover {
    background-color: white;
    color: blue;
}